html{
    background-image: linear-gradient(to left, white 0%, skyblue 100%);
}

head {
    width: 100%;
    min-width: 1000px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px, 5px, 0, 0;
    position: relative;
}

hr.solid {
    border-bottom: 2px solid blue;
}

article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

article {
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 4px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
    margin-top: 1em;
    clear: left;
}

#nav_menu ul {
    list-style-type: none;
    padding: 1em 1em;    /* padding above and below li
                          elements */
    text-align: center;   
}

#nav_menu ul li {
    display: inline;
    padding: 0 0em; 
}

#nav_menu ul li a {
    font-weight: bold;
    color: blue; 
}

#nav_menu ul li a.current { 
    text-decoration: none; 
}

h1 {
    font-size: 20px;
    font-weight: bold;
    box-align: left;
    color: blue;
    width: 100%;
    column-span: all;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    color: black;
}

p {
    font-size: 16px;
    color: black;
}
aside {
    width: 20%;
    border: 3px solid blue;
    background-color: lightblue;
    padding: 1em 1em 1em;
    position: fixed;
    bottom: 45%;
    right: 0;
}

#nav_menu ul { 
    list-style-type: none; 
}

#nav_menu ul { 
    margin-left: 40px; 
}

#nav_menu ul li { 
    float: left; 
}

#nav_menu ul li a.lastitem { 
    border-right: none; 
}	

#nav_menu ul li a.current { 
    color: yellow; 
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 1em;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
    border-right: 2px solid white;
}

footer {
    clear: both;
    border-top: 2px solid blue;
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}