html{
    background-image: white;
    font-family: 'Times New Roman', Times, serif    
}

  a:link {
    color: red;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: plum;
  }
  a:active {
    color: green;
  }

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;    /* padding above and below li
                          elements */
    text-align: center;   
}

#nav_menu ul li {
    display: inline;
    padding: 0 0em; 
}

#nav_menu ul li a {
    font-weight: bold;
    color: blue; 
}

#nav_menu ul li a.current { text-decoration: none; 
}

h1 {
    font-size: 20px;
    font-weight: bold;
    box-align: left;
    color: black;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

p {
    font-size: 14px;
    color: black;
}

body {
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
}

#nav_menu ul { list-style-type: none; }
#nav_menu ul { margin-left: 45px }
#nav_menu ul li { float: left; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
    border-right: 2px solid white;
}


